#seenBookmarkletContainer { background-color: rgba(0,0,0,.9); width: 100%; z-index: 9000; position: absolute; top: 0px; bottom: 0px }
#seenBookmarkletContent { background-color: #CECECB; width: 600px; margin: 100px auto; height: 400px; -webkit-border-radius: 10px; border-radius: 10px }
    #seenBookmarkletContainer #bookmarkletMessages { width: 100%; padding: 20px; color: black; }
    #seenBookmarkletContainer #bookmarkletMessages.error { color: red;  }
    #seenBookmarkletContainer ul { padding: 0px; margin: 0px }
        #seenBookmarkletContainer ul li { list-style-type: none; padding: 0px; margin: 0px; width: 200px; text-align: center; margin: 10px auto }
    #seenBookmarkletContainer #createEventButton { display: block; width: 100px; margin: 20px auto; background-color: white; color: black; text-align: center }